TELEGRAM_BOT_TOKEN=8270081253:AAFbNra1X4VqiiGt4ag0cr_DX6Kvov3uPPY
DAVIDSKLAD_API_BASE=https://davidsklad.ru
DAVIDSKLAD_API_SECRET=
ADMIN_TELEGRAM_IDS=
RU_SERVER_HOST=81.17.154.153
NODE_ENV=production
