TELEGRAM_BOT_TOKEN=8993485518:AAG0vnkx_QbDiPEiXuWH0Srh6aINOjd64cQ
DAVIDSKLAD_API_BASE=https://davidsklad.ru
DAVIDSKLAD_API_SECRET=change_me_to_a_secure_random_string
BOT_USERS_FILE=./data/users.json
NODE_ENV=production
